<div class="mb-4 margin">
  <div class="pt-4">
    <div class="text-center pt-4 mb-3">
      <h2 class="mb-3 fs-1 fw-bolder">PORTFOLIO COMPONENT</h2>
      <div class="d-flex justify-content-center align-items-center">
        <div class="line"></div>
        <i class="fa-solid fa-star text-black mx-2"></i>
        <div class="line"></div>
      </div>
    </div>
    <div class="container">
      <div class="row g-4 p-4">
        <div class="col-md-6 col-lg-4">
          <div class="rounded-3 overflow-hidden position-relative card">
            <img alt="" class="w-100 rounded-3" src="assets/imgs/poert1.png">
            <div
              class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
              data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <img src="assets/imgs/poert1.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="rounded-3 overflow-hidden position-relative card">
            <img alt="" class="w-100 rounded-3" src="assets/imgs/port2.png">
            <div
              class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
              data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <img src="assets/imgs/port2.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="rounded-3 overflow-hidden position-relative card">
            <img alt="" class="w-100 rounded-3" src="assets/imgs/port3.png">
            <div
              class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
              data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <img src="assets/imgs/port3.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="rounded-3 overflow-hidden position-relative card">
            <img alt="" class="w-100 rounded-3" src="assets/imgs/poert1.png">
            <div
              class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
              data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <img src="assets/imgs/poert1.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="rounded-3 overflow-hidden position-relative card">
            <img alt="" class="w-100 rounded-3" src="assets/imgs/port2.png">
            <div
              class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
              data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <img src="assets/imgs/port2.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="rounded-3 overflow-hidden position-relative card">
            <img alt="" class="w-100 rounded-3" src="assets/imgs/port3.png">
            <div
              class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
              data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <img src="assets/imgs/port3.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
